.container{
    width: 250px;
    height: 250px;
    margin: auto;
    text-align: center;
}
input{
    padding: 3px 5px;
    font-size: 22px;
    outline: none;
    border: 1px solid #dedede;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #949494;
    letter-spacing: 2px;
}