body{
    text-align: center;
    background-color: #dbd0c0;
}

img{
    width: 20%;
    height: 20%;
    margin: 10px auto;
    border: 2px solid #f86464;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
img:first-child{
    width: 500px;
    height: 300px;
    margin: 10px auto;
    display: block;
    border: 5px solid #f86464;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: not-allowed;
}
img:first-child:hover{
    opacity: 0.7;
}