button{
    padding: 8px 15px;
    font-size: 18px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}