*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    
}

.bg-img{
    background-image: url(./background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.navbar{
    background-color: red;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}
a{
    font-size: 18px;
    color: #fff;
    margin: 0 6px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
}
.afterScrollNavbar{
    background-color: #0000009d;
}

a#top{
    
    padding: 2px 5px;
    cursor: pointer;
    background: #ff6347bb;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: fixed;
    
}
.topBtn{
    left: 20px;
    bottom: 50px;
    position: absolute;
    display: none;
}
.topBtnOpen{
    position: absolute;
    display: block;
}