// @font-face {
//     font-family: 'myRuboto';
//     src: url(../src/fonts/Roboto-Regular.ttf);
// }


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    background: #b9b8b8;
}

section{
    width: 75rem;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
    .card-area{
        display: inline-block;
        margin: .5rem;
        h1{
            text-align: center;
            padding: 1rem 0;
            font-size: 3rem;
            color: #ff0000;
        }
        .card{
            width: 50%;
            border: .5rem solid #fff;
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;
            background: #f3d2d2;
            text-align: center;
            .card-item{
                .top{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .bottom{
                    padding: 1.5rem 0;
                    h2{
                        font-size: 2.5rem;
                        color: #000000d7;
                    }
                    h3{
                        font-size: 1.8rem;
                        padding: 0 1rem;
                    }
                    .count{
                        input{
                            width: 8rem;
                            border: none;
                            padding: .5rem;
                            font-size: 2rem;
                            text-align: center;
                            margin: .8rem 2rem;
                        }
                        button{
                            background: #535353;
                            padding: .5rem 1rem;
                            border-radius: .4rem;
                            -webkit-border-radius: .4rem;
                            -moz-border-radius: .4rem;
                            -ms-border-radius: .4rem;
                            -o-border-radius: .4rem;
                            color: #fff;
                            font-size: 2rem;
                            transition: .5s;
                            -webkit-transition: .5s;
                            -moz-transition: .5s;
                            -ms-transition: .5s;
                            -o-transition: .5s;
                            &:hover{
                                color: #ff0000;
                                background: #a7a2a2;
                                cursor: pointer;
                            }
                        }
                    }
                    p, p span{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .total-ammount{
        background: #f19090;
        color: #fff;
        padding: 1rem;
        display: inline-block;
        margin: .5rem;
        width: 50%;
        border-radius: .4rem;
        -webkit-border-radius: .4rem;
        -moz-border-radius: .4rem;
        -ms-border-radius: .4rem;
        -o-border-radius: .4rem;
        h4{
            font-size: 1.8rem;
            margin: 1rem 0;
        }
        h3{
            font-size: 2.3rem;
            margin: 1rem;
        }
        hr{
            border: .2rem solid #d6d2d2
        }
    }

}